<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!--dodawanie lub edytowanie zwierzaka-->
<head>
    <meta charset="UTF-8">
    <title>Schronisko</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<!--z pliku fragments zostanie zaciągnięty wspólny element na tą stronę-->
<div th:replace="fragments :: header"></div>

<div class="content">
    <!--formularz z bootstrapa
    formularz wysyłamy do dodaj metodą post, wskazujemy do jakiego obiektu ma dodawac, animal i potem mapujemy input do danego pola animal
    action będziemy modyfikować w zależności od tego w jakim stanie jestesmy dodawania czy edycji za pomocą zmiennej mode która zawiera zmienne edit lub add
    za pomocą warunku to robimy jeżeli mode == edytuj to przekieruj na strone edytuj w przeciwnym przypadku na dodaj
    dynamicznie zmieniamy adres pod który ma być wysłany formularz-->
    <form th:action="${mode == 'edit' ? '/edytuj' : '/dodaj'}" method="post" th:object="${animal}">
<!--        w wthymeleaf porownujemy stringi za pomocą ==-->
<!--        jeżeli mode równa się edit to zwroc/uzyj /edytuj
w przeciwnym przypadku użyj tego czyli
if(mode == edit){
return '/edit';
}else {
return'/dodaj';-->

<!--        niewidoczne dla uzytkownika pole z id zwierzaka-->
        <input type="hidden" th:field="*{id}">

        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Imię</label>
            <div class="col-sm-10">
<!--                odpowiedzialny za pole name-->
                <input type="text" class="form-control" id="staticEmail" placeholder="Imię" th:field="*{name}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Url obrazka</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword" placeholder="Url obrazka" th:field="*{img}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="species" class="col-sm-2 col-form-label">Gatunek</label>
            <div class="col-sm-10">
                <select class="form-control" id="species" th:field="*{species}">
<!--                    wybierz, nie można wybrać i jest domyślnie wybrany-->
                    <option disabled selected value="empty">Wybierz...</option>
                    <option value="CAT">Kot</option>
                    <option value="DOG">Pies</option>
                    <option value="OTHER">Inne</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="desc" class="col-sm-2 col-form-label">Opis</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="desc" mb-3 placeholder="Opis" row th:field="*{description}"></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="desc" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
<!-- dynamiczna nazwa przycisku w zaleznosci na ktorej stronie jest użytkownik-->
                <input type="submit" th:value="${mode == 'edit' ? 'Edytuj' : 'Dodaj'}" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>

</body>
</html>


<!--główna strona, dodajemy boostrapa-->